{
  "extends": [
    "next",
    "next/core-web-vitals",
    "@bereghici/eslint-config",
    "@bereghici/eslint-config/react",
    "@bereghici/eslint-config/jest",
    "@bereghici/eslint-config/jsx-a11y"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
